In [1]:
import pandas as pd

In [2]:
# Read csv
Citibike_Mar2020 = pd.read_csv("Data/JC-202003-citibike-tripdata.csv")
Citibike_Mar2021 = pd.read_csv("Data/JC-202103-citibike-tripdata.csv")

In [3]:
Citibike_Mar2020

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,389,2020-03-01 00:14:07.0000,2020-03-01 00:20:36.0880,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,42381,Subscriber,1992,1
1,242,2020-03-01 00:48:06.4390,2020-03-01 00:52:08.9870,3185,City Hall,40.717733,-74.043845,3205,JC Medical Center,40.716540,-74.049638,42155,Subscriber,1991,1
2,124,2020-03-01 01:08:46.4880,2020-03-01 01:10:51.2780,3272,Jersey & 3rd,40.723332,-74.045953,3278,Monmouth and 6th,40.725685,-74.048790,42376,Subscriber,1987,0
3,104,2020-03-01 01:22:35.4790,2020-03-01 01:24:20.2470,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,42350,Subscriber,1993,1
4,228,2020-03-01 01:39:20.2680,2020-03-01 01:43:09.1380,3194,McGinley Square,40.725340,-74.067622,3280,Astor Place,40.719282,-74.071262,42235,Subscriber,1988,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17714,296,2020-03-31 22:50:39.0410,2020-03-31 22:55:35.5980,3191,Union St,40.718211,-74.083639,3694,Jackson Square,40.711130,-74.078900,42145,Subscriber,1994,1
17715,147,2020-03-31 23:09:15.9690,2020-03-31 23:11:43.5310,3640,Journal Square,40.733670,-74.062500,3206,Hilltop,40.731169,-74.057574,42110,Subscriber,1991,1
17716,364,2020-03-31 23:17:02.0240,2020-03-31 23:23:06.8200,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,42550,Subscriber,1986,1
17717,1217,2020-03-31 23:36:10.6430,2020-03-31 23:56:27.8120,3267,Morris Canal,40.712419,-74.038526,3276,Marin Light Rail,40.714584,-74.042817,42115,Subscriber,1986,1
17718,846,2020-03-31 23:37:21.1840,2020-03-31 23:51:28.1220,3195,Sip Ave,40.730897,-74.063913,3193,Lincoln Park,40.724605,-74.078406,42362,Subscriber,1965,1

In [4]:
Citibike_Mar2021

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,369,2021-03-01 00:07:46.3700,2021-03-01 00:13:55.6430,3202,Newport PATH,40.727224,-74.033759,3639,Harborside,40.719252,-74.034234,43798,Customer,1970,0
1,102,2021-03-01 00:13:25.3020,2021-03-01 00:15:07.7810,3276,Marin Light Rail,40.714584,-74.042817,3276,Marin Light Rail,40.714584,-74.042817,28583,Customer,1970,0
2,2036,2021-03-01 00:16:39.7080,2021-03-01 00:50:35.8980,3276,Marin Light Rail,40.714584,-74.042817,3280,Astor Place,40.719282,-74.071262,46627,Customer,1970,0
3,366,2021-03-01 00:21:44.7390,2021-03-01 00:27:51.6070,3639,Harborside,40.719252,-74.034234,3205,JC Medical Center,40.716540,-74.049638,43798,Customer,1970,0
4,718,2021-03-01 00:22:28.1290,2021-03-01 00:34:26.3650,3483,Montgomery St,40.719420,-74.050990,3638,Washington St,40.724294,-74.035483,42277,Subscriber,1958,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16838,493,2021-03-31 23:49:04.6750,2021-03-31 23:57:17.7900,3185,City Hall,40.717733,-74.043845,3192,Liberty Light Rail,40.711242,-74.055701,45261,Customer,1970,0
16839,296,2021-03-31 23:49:33.7240,2021-03-31 23:54:29.8450,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,45499,Customer,1970,0
16840,346,2021-03-31 23:53:36.2020,2021-03-31 23:59:22.2370,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,42635,Customer,1970,0
16841,872,2021-03-31 23:54:36.3950,2021-04-01 00:09:09.1080,3193,Lincoln Park,40.724605,-74.078406,3206,Hilltop,40.731169,-74.057574,27102,Customer,1970,0
16842,587,2021-03-31 23:58:04.5740,2021-04-01 00:07:52.2170,3225,Baldwin at Montgomery,40.723659,-74.064194,3276,Marin Light Rail,40.714584,-74.042817,45940,Customer,1970,0

In [5]:
# Calculate age of riders and add age as a new column
age_2020 = []

for i in Citibike_Mar2020["birth year"]:
    age = 2020 - i
    age_2020.append(age)

In [6]:
age_2021 = []

for i in Citibike_Mar2021["birth year"]:
    age = 2021 - i
    age_2021.append(age)

In [7]:
Citibike_Mar2020["Age"] = age_2020
Citibike_Mar2020.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Age
0,389,2020-03-01 00:14:07.0000,2020-03-01 00:20:36.0880,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,42381,Subscriber,1992,1,28
1,242,2020-03-01 00:48:06.4390,2020-03-01 00:52:08.9870,3185,City Hall,40.717733,-74.043845,3205,JC Medical Center,40.716540,-74.049638,42155,Subscriber,1991,1,29
2,124,2020-03-01 01:08:46.4880,2020-03-01 01:10:51.2780,3272,Jersey & 3rd,40.723332,-74.045953,3278,Monmouth and 6th,40.725685,-74.048790,42376,Subscriber,1987,0,33
3,104,2020-03-01 01:22:35.4790,2020-03-01 01:24:20.2470,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,42350,Subscriber,1993,1,27
4,228,2020-03-01 01:39:20.2680,2020-03-01 01:43:09.1380,3194,McGinley Square,40.725340,-74.067622,3280,Astor Place,40.719282,-74.071262,42235,Subscriber,1988,1,32

In [8]:
Citibike_Mar2021["Age"] = age_2021
Citibike_Mar2021.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Age
0,369,2021-03-01 00:07:46.3700,2021-03-01 00:13:55.6430,3202,Newport PATH,40.727224,-74.033759,3639,Harborside,40.719252,-74.034234,43798,Customer,1970,0,51
1,102,2021-03-01 00:13:25.3020,2021-03-01 00:15:07.7810,3276,Marin Light Rail,40.714584,-74.042817,3276,Marin Light Rail,40.714584,-74.042817,28583,Customer,1970,0,51
2,2036,2021-03-01 00:16:39.7080,2021-03-01 00:50:35.8980,3276,Marin Light Rail,40.714584,-74.042817,3280,Astor Place,40.719282,-74.071262,46627,Customer,1970,0,51
3,366,2021-03-01 00:21:44.7390,2021-03-01 00:27:51.6070,3639,Harborside,40.719252,-74.034234,3205,JC Medical Center,40.716540,-74.049638,43798,Customer,1970,0,51
4,718,2021-03-01 00:22:28.1290,2021-03-01 00:34:26.3650,3483,Montgomery St,40.719420,-74.050990,3638,Washington St,40.724294,-74.035483,42277,Subscriber,1958,1,63

In [9]:
# Combine both files
combined_citi = pd.concat([Citibike_Mar2020, Citibike_Mar2021])

In [10]:
combined_citi

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Age
0,389,2020-03-01 00:14:07.0000,2020-03-01 00:20:36.0880,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,42381,Subscriber,1992,1,28
1,242,2020-03-01 00:48:06.4390,2020-03-01 00:52:08.9870,3185,City Hall,40.717733,-74.043845,3205,JC Medical Center,40.716540,-74.049638,42155,Subscriber,1991,1,29
2,124,2020-03-01 01:08:46.4880,2020-03-01 01:10:51.2780,3272,Jersey & 3rd,40.723332,-74.045953,3278,Monmouth and 6th,40.725685,-74.048790,42376,Subscriber,1987,0,33
3,104,2020-03-01 01:22:35.4790,2020-03-01 01:24:20.2470,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,42350,Subscriber,1993,1,27
4,228,2020-03-01 01:39:20.2680,2020-03-01 01:43:09.1380,3194,McGinley Square,40.725340,-74.067622,3280,Astor Place,40.719282,-74.071262,42235,Subscriber,1988,1,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16838,493,2021-03-31 23:49:04.6750,2021-03-31 23:57:17.7900,3185,City Hall,40.717733,-74.043845,3192,Liberty Light Rail,40.711242,-74.055701,45261,Customer,1970,0,51
16839,296,2021-03-31 23:49:33.7240,2021-03-31 23:54:29.8450,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,45499,Customer,1970,0,51
16840,346,2021-03-31 23:53:36.2020,2021-03-31 23:59:22.2370,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,42635,Customer,1970,0,51
16841,872,2021-03-31 23:54:36.3950,2021-04-01 00:09:09.1080,3193,Lincoln Park,40.724605,-74.078406,3206,Hilltop,40.731169,-74.057574,27102,Customer,1970,0,51
16842,587,2021-03-31 23:58:04.5740,2021-04-01 00:07:52.2170,3225,Baldwin at Montgomery,40.723659,-74.064194,3276,Marin Light Rail,40.714584,-74.042817,45940,Customer,1970,0,51

In [11]:
# check data types and correct
combined_citi.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
Age                          int64
dtype: object

In [12]:
# Change start & stoptime data type from object to datetime and gender type from integer to object
combined_citi['starttime'] = pd.to_datetime(combined_citi['starttime'])
combined_citi['stoptime'] = pd.to_datetime(combined_citi['stoptime'])
combined_citi['gender']= combined_citi['gender'].map(str)

In [14]:
combined_citi.dtypes

tripduration                        int64
starttime                  datetime64[ns]
stoptime                   datetime64[ns]
start station id                    int64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                      int64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                             object
Age                                 int64
dtype: object

In [15]:
# Check for duplicates
duplicate_comb = combined_citi[combined_citi.duplicated()]
print(duplicate_comb)

Empty DataFrame
Columns: [tripduration, starttime, stoptime, start station id, start station name, start station latitude, start station longitude, end station id, end station name, end station latitude, end station longitude, bikeid, usertype, birth year, gender, Age]
Index: []

In [16]:
# Check for NAN values
combined_citi.isnull().values.any()

False

In [17]:
# Add a new column of trip duration in mins
combined_citi['duration(mins)'] = (combined_citi['tripduration']/60).round(2)
combined_citi

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Age,duration(mins)
0,389,2020-03-01 00:14:07.000,2020-03-01 00:20:36.088,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,42381,Subscriber,1992,1,28,6.48
1,242,2020-03-01 00:48:06.439,2020-03-01 00:52:08.987,3185,City Hall,40.717733,-74.043845,3205,JC Medical Center,40.716540,-74.049638,42155,Subscriber,1991,1,29,4.03
2,124,2020-03-01 01:08:46.488,2020-03-01 01:10:51.278,3272,Jersey & 3rd,40.723332,-74.045953,3278,Monmouth and 6th,40.725685,-74.048790,42376,Subscriber,1987,0,33,2.07
3,104,2020-03-01 01:22:35.479,2020-03-01 01:24:20.247,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,42350,Subscriber,1993,1,27,1.73
4,228,2020-03-01 01:39:20.268,2020-03-01 01:43:09.138,3194,McGinley Square,40.725340,-74.067622,3280,Astor Place,40.719282,-74.071262,42235,Subscriber,1988,1,32,3.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16838,493,2021-03-31 23:49:04.675,2021-03-31 23:57:17.790,3185,City Hall,40.717733,-74.043845,3192,Liberty Light Rail,40.711242,-74.055701,45261,Customer,1970,0,51,8.22
16839,296,2021-03-31 23:49:33.724,2021-03-31 23:54:29.845,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,45499,Customer,1970,0,51,4.93
16840,346,2021-03-31 23:53:36.202,2021-03-31 23:59:22.237,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,42635,Customer,1970,0,51,5.77
16841,872,2021-03-31 23:54:36.395,2021-04-01 00:09:09.108,3193,Lincoln Park,40.724605,-74.078406,3206,Hilltop,40.731169,-74.057574,27102,Customer,1970,0,51,14.53
16842,587,2021-03-31 23:58:04.574,2021-04-01 00:07:52.217,3225,Baldwin at Montgomery,40.723659,-74.064194,3276,Marin Light Rail,40.714584,-74.042817,45940,Customer,1970,0,51,9.78

In [18]:
# Change gender from number to string
combined_citi.set_index(['gender'], inplace = True)

In [19]:
combined_citi.rename(index = {"0": "Unknown", "1": "Male", "2": "Female"}, inplace = True)
combined_citi.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,Age,duration(mins)
gender,,,,,,,,,,,,,,,,
Male,389,2020-03-01 00:14:07.000,2020-03-01 00:20:36.088,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,42381,Subscriber,1992,28,6.48
Male,242,2020-03-01 00:48:06.439,2020-03-01 00:52:08.987,3185,City Hall,40.717733,-74.043845,3205,JC Medical Center,40.716540,-74.049638,42155,Subscriber,1991,29,4.03
Unknown,124,2020-03-01 01:08:46.488,2020-03-01 01:10:51.278,3272,Jersey & 3rd,40.723332,-74.045953,3278,Monmouth and 6th,40.725685,-74.048790,42376,Subscriber,1987,33,2.07
Male,104,2020-03-01 01:22:35.479,2020-03-01 01:24:20.247,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,42350,Subscriber,1993,27,1.73
Male,228,2020-03-01 01:39:20.268,2020-03-01 01:43:09.138,3194,McGinley Square,40.725340,-74.067622,3280,Astor Place,40.719282,-74.071262,42235,Subscriber,1988,32,3.80

In [20]:
combined_citi.reset_index()

,gender,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,Age,duration(mins)
0,Male,389,2020-03-01 00:14:07.000,2020-03-01 00:20:36.088,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,42381,Subscriber,1992,28,6.48
1,Male,242,2020-03-01 00:48:06.439,2020-03-01 00:52:08.987,3185,City Hall,40.717733,-74.043845,3205,JC Medical Center,40.716540,-74.049638,42155,Subscriber,1991,29,4.03
2,Unknown,124,2020-03-01 01:08:46.488,2020-03-01 01:10:51.278,3272,Jersey & 3rd,40.723332,-74.045953,3278,Monmouth and 6th,40.725685,-74.048790,42376,Subscriber,1987,33,2.07
3,Male,104,2020-03-01 01:22:35.479,2020-03-01 01:24:20.247,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,42350,Subscriber,1993,27,1.73
4,Male,228,2020-03-01 01:39:20.268,2020-03-01 01:43:09.138,3194,McGinley Square,40.725340,-74.067622,3280,Astor Place,40.719282,-74.071262,42235,Subscriber,1988,32,3.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34557,Unknown,493,2021-03-31 23:49:04.675,2021-03-31 23:57:17.790,3185,City Hall,40.717733,-74.043845,3192,Liberty Light Rail,40.711242,-74.055701,45261,Customer,1970,51,8.22
34558,Unknown,296,2021-03-31 23:49:33.724,2021-03-31 23:54:29.845,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,45499,Customer,1970,51,4.93
34559,Unknown,346,2021-03-31 23:53:36.202,2021-03-31 23:59:22.237,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,42635,Customer,1970,51,5.77
34560,Unknown,872,2021-03-31 23:54:36.395,2021-04-01 00:09:09.108,3193,Lincoln Park,40.724605,-74.078406,3206,Hilltop,40.731169,-74.057574,27102,Customer,1970,51,14.53
34561,Unknown,587,2021-03-31 23:58:04.574,2021-04-01 00:07:52.217,3225,Baldwin at Montgomery,40.723659,-74.064194,3276,Marin Light Rail,40.714584,-74.042817,45940,Customer,1970,51,9.78

In [22]:
# Export into CSV
combined_citi.to_csv('Data/combined.csv', index=True)